/* --------------------------------

Primary style

-------------------------------- */
a {
    /*color: #3e3947;*/
    text-decoration: none;
  }
  
  /* --------------------------------
  
  Modules - reusable parts of our design
  
  -------------------------------- */
  .cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  
  .cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
  }
  
  /* No Touch devices */
  .cd-nav-trigger {
    display: none;
  }
  
  #cd-vertical-nav ul{
      list-style: none;
      padding: 0;
  }
  #cd-vertical-nav {
    position: fixed;
    right: -78px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
  }
  #cd-vertical-nav li {
    text-align: right;
  }
  #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
  }
  #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
  }
  #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  #cd-vertical-nav a:hover span,
  #cd-vertical-nav a.is-selected .cd-dot {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
    left: -100%;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    right: calc(100% - 15px);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #995581;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  #cd-vertical-nav .cd-label {
      position: relative;
    margin-right: 10px;
    padding: 4px 14px;
    color: white;
    background: rgba(0, 0, 0, 0.53);
    font-size: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  
  
  /* Touch devices */
  .touch .cd-nav-trigger {
    display: block;
    z-index: 5;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
  }
  .touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3e3947;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
  }
  .touch .cd-nav-trigger span::before {
    top: -9px;
  }
  .touch .cd-nav-trigger span::after {
    bottom: -9px;
  }
  
  .touch #cd-vertical-nav {
    position: fixed;
    z-index: 4;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1);
  }
  .touch #cd-vertical-nav a span:first-child {
    display: none;
  }
  .touch #cd-vertical-nav a.is-selected span:last-child {
    color: #d88683;
  }
  .touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span {
    background-color: rgba(62, 57, 71, 0);
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    background-color: #3e3947;
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
  }
  .touch #cd-vertical-nav li:last-child a {
    border-bottom: none;
  }
  
  @media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
      bottom: 40px;
    }
  }
  / * -------------------------------- รูปแบบหลัก -------------------------------- * / a {    / * color: # 3e3947; * /    การตกแต่งข้อความ: ไม่มี; } / * -------------------------------- Modules - ชิ้นส่วนที่ใช้ซ้ำได้ของการออกแบบของเรา -------------------------------- * / .cd-img- แทนที่ {    / * แทนที่ข้อความด้วย background-image * /    จอแสดงผล: บล็อกแบบอินไลน์;    ล้น: ซ่อนอยู่;    เยื้องข้อความ: 100%;    พื้นที่สีขาว: nowrap; } .cd-scroll-down {    ตำแหน่ง: สัมบูรณ์;    เหลือ: 50%;    ขวา: อัตโนมัติ    -webkit-transform: translateX (-50%);    -moz-transform: translateX (-50%);    -ms-transform: translateX (-50%);    -o-transform: translateX (-50%);    แปลงแล้ว: translateX (-50%);    ด้านล่าง: 20px;    ความกว้าง: 38px;    ความสูง: 44px;    พื้นหลัง: url ("../ img / cd-arrow-bottom.svg") ศูนย์กึ่งกลางไม่ซ้ำ } / * ไม่มีอุปกรณ์ระบบสัมผัส * / .cd-nav-trigger {    แสดง: ไม่มี; } # cd-vertical-nav ul {      รายการสไตล์: ไม่มี;      การเติมเต็ม: 0; } # cd-vertical-nav {    ตำแหน่ง: คงที่;    ขวา: -78px;    ด้านบน: 50%;    ด้านล่าง: อัตโนมัติ    -webkit-transform: translateY (-50%);    -moz-transform: translateY (-50%);    -ms-transform: translateY (-50%);    -o-transform: translateY (-50%);    แปลงแล้ว: translateY (-50%);    ดัชนี z: 4; } # cd-vertical-nav li {    จัดเรียงข้อความ: ขวา; } # cd-vertical-nav a {    จอแสดงผล: บล็อกแบบอินไลน์;    / * ป้องกันการเคลื่อนไหวที่แปลกเมื่อวางเมาส์เมื่อคุณใช้การแปลง CSS3 - เบราว์เซอร์ webkit * /    -webkit-backface-ทัศนวิสัย: ซ่อนอยู่    backface-ทัศนวิสัย: ซ่อนอยู่    ความกว้าง: 100%; } # cd-vertical-nav a: after {    เนื้อหา: "";    แสดง: ตาราง;    ชัดเจน: ทั้งสอง; } # cd-vertical-nav a span {    ลอย: ขวา;    จอแสดงผล: บล็อกแบบอินไลน์;    -webkit-transform: scale (0.6);    -moz-transform: scale (0.6);    -ms-transform: scale (0.6);    -o-transform: scale (0.6);    แปลง: ขนาด (0.6); } # cd-vertical-nav a: hover span, # cd-vertical-nav a.is-select .cd-dot {    -webkit-transform: scale (1);    -moz-transform: scale (1);    -ms-transform: scale (1);    -o-transform: scale (1);    แปลง: ขนาด (1); } # cd-vertical-nav a: hover .cd-label {    ความทึบ: 1;    ซ้าย: -100%;    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;    -moz-transition: -moz-transform 0.2s, opacity 0.2s;    การเปลี่ยนแปลง: เปลี่ยน 0.2s, ความทึบ 0.2s; } # cd-vertical-nav .cd-dot {    ตำแหน่ง: ญาติ;    / * เราตั้งค่าสูงสุดเพื่อจัดจุดให้ตรงกับฉลาก หากคุณเปลี่ยนแบบอักษรของป้ายกำกับคุณอาจต้องเปลี่ยนค่าสูงสุดนี้ * /    ด้านบน: 8px;    ขวา: Calc (100% - 15px);    ความสูง: 10px;    ความกว้าง: 10px;    รัศมีของเส้นขอบ: 50%;    สีพื้นหลัง: # 995581;    -webkit-transition: -webkit-transform 0.2s, 0.5s สีพื้นหลัง;    -moz-transition: -moz-transform 0.2s, สีพื้นหลัง 0.5 วินาที;    การเปลี่ยนภาพ: เปลี่ยน 0.2 วินาที, สีพื้นหลัง 0.5 วินาที;    -webkit-transform-origin: 50% 50%;    -moz-transform-origin: 50% 50%;    -ms-transform-origin: 50% 50%;    -o-transform-origin: 50% 50%;    transform-origin: 50% 50%; } # cd-vertical-nav .cd-label {      ตำแหน่ง: ญาติ;    ระยะขอบขวา: 10px;    การขยาย: 4px 14px;    สี: ขาว    พื้นหลัง: rgba (0, 0, 0, 0.53);    ขนาดตัวอักษร: 10px;    รัศมีเส้นขอบ: 20px;    การแปลงข้อความ: ตัวพิมพ์ใหญ่;    น้ำหนักตัวอักษร: 600;    ความทึบ: 0;    -webkit-transform-origin: 100% 50%;    -moz-transform-origin: 100% 50%;    -ms-transform-origin: 100% 50%;    -o-transform-origin: 100% 50%;    แหล่งกำเนิดการเปลี่ยนแปลง: 100% 50%; } / * อุปกรณ์สัมผัส * / .touch .cd-nav-trigger {    จอแสดงผล: บล็อก;    ดัชนี z: 5;    ตำแหน่ง: คงที่;    ด้านล่าง: 30px;    ขวา: 5%;    ความสูง: 44px;    ความกว้าง: 44px;    รัศมีชายแดน: 0.25em;    พื้นหลัง: rgba (255, 255, 255, 0.9); } .touch .cd-nav-trigger span {    ตำแหน่ง: สัมบูรณ์;    ความสูง: 4px;    ความกว้าง: 4px;    สีพื้นหลัง: # 3e3947;    รัศมีของเส้นขอบ: 50%;    เหลือ: 50%;    ด้านบน: 50%;    ด้านล่าง: อัตโนมัติ    ขวา: อัตโนมัติ    -webkit-transform: translateX (-50%) translateY (-50%);    -moz-transform: translateX (-50%) translateY (-50%);    -ms-transform: translateX (-50%) translateY (-50%);    -o-transform: translateX (-50%) translateY (-50%);    แปลงแล้ว: translateX (-50%) translateY (-50%); } .touch .cd-nav-trigger span :: before, .touch .cd-nav-trigger span :: หลัง    เนื้อหา: '';    ความสูง: 100%;    ความกว้าง: 100%;    ตำแหน่ง: สัมบูรณ์;    ซ้าย: 0;    สีพื้นหลัง: สืบทอด;    รัศมีเส้นขอบ: สืบทอด; } .touch .cd-nav-trigger span :: before {    ด้านบน: -9px; } .touch .cd-nav-trigger span :: หลัง {    ด้านล่าง: -9px; } .touch # cd-vertical-nav {    ตำแหน่ง: คงที่;    ดัชนี z: 4;    ขวา: 5%;    ด้านล่าง: 30px;    ความกว้าง: 90%;    ความกว้างสูงสุด: 400px;    ความสูงสูงสุด: 90%;    overflow-y: เลื่อน;    -webkit-overflow-scrolling: สัมผัส;    -webkit-transform-origin: ด้านล่างขวา;    -moz-transform-origin: ด้านล่างขวา;    -ms-transform-origin: ด้านล่างขวา;    -o-transform-origin: ด้านล่างขวา;    แหล่งกำเนิดการเปลี่ยนแปลง: ด้านล่างขวา;    -webkit-transform: scale (0);    -moz-transform: scale (0);    -ms-transform: scale (0);    -o-transform: scale (0);    แปลง: ขนาด (0);    -webkit-transition-property: -webkit-transform;    -moz-transition-property: -moz-transform;    การเปลี่ยนแปลงคุณสมบัติ: แปลง;    -webkit-transition-duration: 0.2s;    -moz-transition-duration: 0.2s;    การเปลี่ยนระยะเวลา: 0.2 วินาที;    รัศมีชายแดน: 0.25em;    สีพื้นหลัง: rgba (255, 255, 255, 0.9); } .touch # cd-vertical-nav a {    จอแสดงผล: บล็อก;    การขยาย: 1em;    border-bottom: 1px solid rgba (62, 57, 71, 0.1); } .touch # cd-vertical-nav a span: ลูกคนแรก {    แสดง: ไม่มี; } .touch # cd-vertical-nav ช่วงที่เลือก a.is: last-child {    สี: # d88683; } .touch # cd-vertical-nav.open {    -webkit-transform: scale (1);    -moz-transform: scale (1);    -ms-transform: scale (1);    -o-transform: scale (1);    แปลง: ขนาด (1); } .touch # cd-vertical-nav.open + .cd-nav-trigger {    สีพื้นหลัง: โปร่งใส } .touch # cd-vertical-nav.open + .cd-nav-trigger span {    สีพื้นหลัง: rgba (62, 57, 71, 0); } .touch # cd-vertical-nav.open + .cd-nav-trigger span :: before, .touch # cd-vertical-nav.open + ช่วง .cd-nav-trigger :: หลัง {    สีพื้นหลัง: # 3e3947;    ความสูง: 3px;    ความกว้าง: 20px;    เส้นขอบรัศมี: 0;    ซ้าย: -8px; } .touch # cd-vertical-nav.open + .cd-nav-trigger span :: before {    -webkit-transform: หมุน (45deg);    -moz-transform: หมุน (45deg);    -ms-transform: หมุน (45deg);    -o-transform: หมุน (45deg);    แปลง: หมุน (45deg);    ด้านบน: 1px; } .touch # cd-vertical-nav.open + .cd-nav-trigger span :: หลัง {    -webkit-transform: หมุน (135deg);    -moz-transform: หมุน (135deg);    -ms-transform: หมุน (135deg);    -o-transform: หมุน (135deg);    แปลง: หมุน (135deg);    ด้านล่าง: 0; } .touch # cd-vertical-nav li: ลูกคนสุดท้ายและ    ขอบล่าง: ไม่มี; } หน้าจอ @ สื่อเท่านั้นและ (ความกว้างต่ำสุด: 768px) {    .touch .cd-nav-trigger, .touch # cd-vertical-nav {      ด้านล่าง: 40px;    } }
  translated from: English